/* .TodoList {
} */
.TodoList_item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border: 2px solid #4b0ce0;
  justify-content: space-between;
}
.TodoList_btn {
  height: 30px;
}
.TodoList_text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}
