.TodoSummary {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
}

.TodoSummary p {
  margin: 0;
  padding: 5px;
}

.TodoSummary p:first-child {
  font-weight: bold;
}

.TodoSummary p + p {
  margin-top: 10px;
}
